body {
    /* background-color: DarkGray; */
    font-family: 'Montserrat', sans-serif;
    /* height: 100vh; */
}

h1 {
    text-align: center;
    color: #1d3557;
}

main_content {
    align-items: center;
}

#head_shot_div {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head_shot {
    border-radius: 50%;
    /* display: block; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    width: 8em;
    margin-left: -3.8em;
    margin-right: -3.8em;
}

/* .buttons {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 8em;
} */

#buttons {
    margin-top: 10px;
}

.center { 
    display: flex;
    justify-content: center;
    align-items: end;
    height: 2.5em;
  }

.link_button {
    font-size: 17px; 
    font-weight: bold;
    color: #1d3557;
    background: #a8dadc;
    border-color: #a8dadc;
    appearance: none;
    /* border-radius: 3em;
    height: 1.5em;
    width: 8em; */

    border-radius: 15px;
    height: 30px;
    width: 130px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0.1em 0.1em;
}

.link_button:active {
    box-shadow: -0.1em -0.1em;
}

#about {
    text-align: center;
}

.link_button a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }

#about_block {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    text-align: center;
    font-size: 10px; 
}

#link_tree_add {
    font-size: 12px;
}

#dots {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    width: auto;
    margin-top: 20px;
}

.big_dot {
    width: 8em;
    height: 8em;
    border-radius: 50%;
    margin: -3.8em;
}

.dot {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin: -3px;
}

#dot_1{
    background: #e63946;
}
#dot_2{
    background: #f1faee;
}
#dot_3{
    background: #a8dadc;
}
#dot_4{
    background: #457b9d;
}
#dot_5{
    background: #1d3557;
}

